[submodule "gen/nifxml"]
	path = gen/nifxml
	url = https://github.com/TESSkyblivion/nifxml
[submodule "lib/libigl"]
	path = lib/libigl
	url = https://github.com/libigl/libigl
[submodule "lib/eigen"]
	path = lib/eigen
	url = https://github.com/eigenteam/eigen-git-mirror
[submodule "lib/bounding-mesh"]
	path = lib/bounding-mesh
	url = https://github.com/gaschler/bounding-mesh
[submodule "lib/quickhull"]
	path = lib/quickhull
	url = https://github.com/akuukka/quickhull
